# These requirements are for running tests and the sample_site, the library 
# itself only needs a subset, see setup.py for that list
coverage==4.2
Django==1.10
mock==2.0.0
pudb==2016.2
pyflakes==1.2.3
Sphinx==1.4.5
tox==2.3.1
twine==1.8.1
wrench==0.9
