# These requirements are for running tests and the sample_site, the library 
# itself only needs a subset, see setup.py for that list
context-temp==0.11.1
coverage==6.2
Django==4.0
logthing==1.0.0
pudb==2021.2.2
pyflakes==2.4.0
screwdriver==0.14.0
Sphinx==4.3.2
sphinx-rtd-theme==1.0.0
tox==3.24.4
twine==3.7.1
waelstow==0.10.2
